{% extends 'base.html' %}

{% block content %}

    <style>
        .testing {
            background-color: yellow;
            margin: 1rem;
            width: 48px;
            height: 48px;
            border-radius: .5rem;
            display: inline-block;
        }
    </style>

    <div style="height: 20rem; background-color: aqua; margin: 2rem; border-radius: 1rem; overflow: hidden;
    font-size: 2rem; ">
        <h1>test</h1>

        <div class="testing" style="width: 48px; height: 48px;">px</div>
        <div class="testing" style="width: 3rem; height: 3rem;">rem</div>
        <div class="testing" style="width: 3em; height: 3em;">em</div>
        <div class="testing" style="width: 30%; height: 30%;">%</div>

    </div>

{% endblock %}